ul {
    list-style-type: none; /*this removes the bullets from the list */
    margin: 20px;
}
nav {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;     color: rgb(76, 16, 0);
}
li {
    display: inline-block; /* this makes the links horizontal */ 
    margin-left: 40px;
    margin-right: 40px;
}
  .button {
    padding: 5px 10px;
    color: rgb(76, 16, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px;
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: left;
  }

.container {
        display: flex; /* Use flexbox to arrange the image and text horizontally */
        max-width: 100%; /* Adjust the width as needed */
        background-color: rgb(76, 16, 0);
        padding: 5vx;
      }
img {
    max-width: 100%;
    height:auto ;
  }  
  .cofee {
    width: 300px;
    height: 300px;
  }
  .lattee {
    width: 300px;
    height: 300px;
  }
  .maincoffee {
   height: auto;
    max-width: 100%; 
 }
  .containerbottom {
    display: flex; /* Use flexbox to arrange the image and text horizontally */
        align-items: center; /* Center items vertically */
        max-width: 100%; /* Adjust the width as needed */
        background-color: rgb(223 217 171);
        padding: 5vx;
  }
  .imagebottom {
    height: auto;
    width: 100%;
    max-width: 1400px; 
  }
  .menu {
    height: auto;
    width: 100%;
    max-width: 1400px; 
  }
  .shop-page {
    height: auto;
    width: 100%;
    max-width: 1400px; 
  }
li a {
    color: rgb(76 16 0); /*this is the font color  */
    font-weight: 400;
    font-family: "hind", sans-serif;
}
li:hover {
    background-color: rgb(216 198 184);
}
h1 {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(223, 217, 171);
    margin: 20px;
    font-size: 16px;
    width: 30%;
}
h2 {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(76 16 0);
    margin: 20px;
}
p {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(76 16 0);
    margin: 20px;
}
.shop-icon {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #f0f0f0;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }

  /* Additional styles for icon images (optional) */
  .shop-icon img {
    max-width: 100px;
    max-height: px;
    }
.social-media {
    display: inline-block;
      height: 50px;
      width: 50px;
    }
.ours {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(76 16 0);
}
.contactus {
    height: 100%;
    max-width: 100%;
}
/* Basic styling for the contact form */
.containerr {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #7E0000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #errorMessages {
    color: red;
    margin-top: 10px;
  }
  
.footer {
    display: inline-block;
    color: rgb(76 16 0);/* this is the font color */
    margin: 0 10px;
    font-size: 15px;
    padding: 20px;
    text-align: center;
 }
 /* Baseline smart phone portrait */
 @media screen and (min-width: 320px) {
    body {
        font-size: 14px;
        font-family: "hind", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .divBg {background-color: white;}
    .maincoffee {
        display: none; /* Hide the image by default */
    }
 }
 /* Baseline smart phone landscape */
    @media screen and (min-width: 480px) {
        body {
            font-size: 16px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal;
    }
        .divBg {background-color: white;}
        .maincoffee {
            display: none; /* Hide the image by default */
        }
    }
    /* Baseline tablet portrait */ 
    @media screen and (min-width: 768px) {   
        body {
            font-size: 18px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .maincoffee {
            display: none; /* Hide the image by default */
        }
        .divBg {background-color: white;}
    }
    /* Baseline tablet landscape */
    @media screen and (min-width: 1024px) {
        body {
            font-size: 20px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal;        }
        .divBg {background-color: white;}
        .maincoffee {
            display: none; /* Hide the image by default */
        }
    }
    /* Baseline desktop */
    @media screen and (min-width: 1200px) {
        body {
            font-size: 22px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .divBg {background-color: white;}
   }
    /* Baseline large desktop */
    @media screen and (min-width: 1400px) {
        body {
            font-size: 24px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal
        }   
        .divBg {background-color: white;}
    }
