ul {
    list-style-type: none; /*this removes the bullets from the list */
    margin: 20px;
}
nav {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;     color: rgb(76, 16, 0);
}
li {
    display: inline-block; /* this makes the links horizontal */ 
    margin-left: 40px;
    margin-right: 40px;
}
.ours {
  max-width: 960px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}
  
  .button {
    padding: 5px 10px;
    color: rgb(76, 16, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px;
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: left;
  }

.container {
        display: flex; /* Use flexbox to arrange the image and text horizontally */
        max-width: 100%; /* Adjust the width as needed */
        background-color: rgb(76, 16, 0);
        padding: 5vx;
      }
img {
    max-width: 100%;
    height:auto ;
  }  
  .cofee {
    width: 300px;
    height: 300px;
  }
  .lattee {
    width: 300px;
    height: 300px;
  }
  .maincoffee {
   height: auto;
    max-width: 100%; 
 }
  .containerbottom {
    display: flex; /* Use flexbox to arrange the image and text horizontally */
        align-items: center; /* Center items vertically */
        max-width: 100%; /* Adjust the width as needed */
        background-color: rgb(223 217 171);
        padding: 5vx;
  }
  .imagebottom {
    height: auto;
    width: 100%;
    max-width: 1400px; 
  }
  .menu {
    height: auto;
    width: 100%;
    max-width: 1400px; 
  }
  .shop-page {
    height: auto;
    width: 100%;
    max-width: 1400px; 
  }
li a {
    color: rgb(76 16 0); /*this is the font color  */
    font-weight: 400;
    font-family: "hind", sans-serif;
}
li:hover {
    background-color: rgb(216 198 184);
}
h1 {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(223, 217, 171);
    margin: 20px;
    font-size: 16px;
    width: 30%;
}
h3 {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: rgb(76 16 0);
    text-align: center;
}
h2 {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(76 16 0);
    margin: 20px;
}
p {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(76 16 0);
    text-align: center;
}
.coffee-item {
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.coffee-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.coffee-name {
  font-family: "hind", sans-serif;
  font-weight: bold;
}
.coffee-price {
  font-family: "hind", sans-serif;
  font-weight: bold;
}
 /* Modal styles */
 .modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  padding: 20px 20px 20px 20px;
  max-width: 100%;
  margin: 0 auto;
}

.cart-header {
  text-align: center;
  margin-bottom: 20px;
}

.cart-item {
  border: 1px solid #ddd;
  background-color: #000000;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-item  {
  font-size: 18px;
  margin-bottom: 5px;
}


/* Cart total section */
.cart-total {
  text-align: right;
  margin-top: 20px;
}

.cart-total p {
  font-size: 18px;
  font-weight: bold;
}

/* Cart checkout button */
.checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #0056b3;
}

/* Style for the cart icon */
.cart-icon {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-right: 20px; 
}

/* Style for the cart icon image */
.cart-icon img {
  width: 30px; 
  height: auto;
}

/* Style for the cart item count (optional) */
.cart-item-count {
  position: absolute;
  top: -15px;
  right: -10px;
  color: rgb(76, 16, 0);
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

.social-media {
    display: flex;
    padding: 20px;
      height: 30px;
      width: 30px;
    }
.ours {
    font-family: "hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(76 16 0);
}
.contactus {
    height: 100%;
    max-width: 100%;
}
/* Basic styling for the contact form */
.containerr {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #7E0000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #errorMessages {
    color: red;
    margin-top: 10px;
  }
  .merch-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
    padding: 10px;
  }
.footer {
    display: inline-block;
    color: rgb(76 16 0);/* this is the font color */
    margin: 0 10px;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
    text-align: center;
 }
 /* Baseline smart phone portrait */
 @media screen and (min-width: 320px) {
    body {
        max-width: 280px;
        font-size: 14px;
        font-family: "hind", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    .divBg {background-color: white;}
    .maincoffee {
        display: none; /* Hide the image by default */
    }
 }
 /* Baseline smart phone landscape */
    @media screen and (min-width: 480px) {
        body {
          max-width: 440px;
            font-size: 16px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal;
    }
        .divBg {background-color: white;}
        .maincoffee {
            display: none; /* Hide the image by default */
        }
    }
    /* Baseline tablet portrait */ 
    @media screen and (min-width: 768px) {   
        body {
          max-width: 700px;
            font-size: 18px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .maincoffee {
            display: none; /* Hide the image by default */
        }
        .divBg {background-color: white;}
    }
    /* Baseline tablet landscape */
    @media screen and (min-width: 1024px) {
        body {
          max-width: 940px;
            font-size: 20px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal;        }
        .divBg {background-color: white;}
        .maincoffee {
            display: none; /* Hide the image by default */
        }
    }
    /* Baseline desktop */
    @media screen and (min-width: 1200px) {
        body {
          max-width: 1100px;
            font-size: 22px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
        }
        .divBg {background-color: white;}
   }
    /* Baseline large desktop */
    @media screen and (min-width: 1400px) {
        body {
          max-width: 1300px;
            font-size: 24px;
            font-family: "hind", sans-serif;
            font-weight: 400;
            font-style: normal
        }   
        .divBg {background-color: white;}
    }
